.main {
    width: 100%;
}
.simon-boxes-container {
    border: 2px solid black;
    height: 420px;
    margin-top: 50px;
}
.game-box-row {
    height: 50%;
}
#top-left {
    background: red;
}
#top-right {
    background: blue;
}
#bottom-left {
    background: purple;
}
#bottom-right {
    background: green;
}
.game-boxes {
    height: 100%;
    opacity: .5;
}
#level-text {
    display: none;
}
